.title{
    text-align: center;
}
.title h4{
    background: -webkit-linear-gradient(#f42222, #813df8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title h3{
    color: #7e877b;
}
.title img{
    width: 100%;
    height: 250px;
}
.image-container {
    display: flex;
    align-items: center;
    font-size: 40px;
    padding-left: 200px;
  }
  .image-container img {
    max-width: 100%;
    height: 500px;
  }
  
  .info {
    display: flex;
    align-items: center;
  }
  .info img {
    max-width: 100%;
    margin-right: 20px;
  }
  .feature {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    width: auto;
    background-color: rgb(243, 243, 243);
    padding-bottom: 50px;
}
  .container {
    height: 370px;
    width: 270px;
    background-color: #ecf3f2;
    border: 2px solid rgb(103, 172, 160);
    margin: 10px;
}
.container:hover {
    box-shadow: 0 0 7px 4px rgb(173, 193, 198);
    transform: translateY(-5px);
}
.feature-img {
    height: 90px;
    width: 110px;
    padding-left: 90px;
    padding-top: 20px;
}
.container h1 {
    padding-top: 7px;
    color: rgb(156, 89, 203);
    text-align: center;
}
.container p {
    text-align: center;
    padding: 25px;
    font-size: 17px;
    color: rgb(132, 124, 12);
}
.heading {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    font-style: oblique;
    color: rgb(156, 109, 190);
}
.heading:hover {
    color: palevioletred;
}
.heading span {
    background-color:rgb(252, 202, 39);
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px;
    border-radius: 15px 0px 15px 0px;

}