.title{
    text-align: center;
}
.title h4{
    background: -webkit-linear-gradient(#f42222, #813df8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title h3{
    color: #7e877b;
}
.title img{
    width: 100%;
    height: 250px;
}

