.title{
    text-align: center;
}
.title h4{
    background: -webkit-linear-gradient(#f42222, #813df8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title h3{
    color: #7e877b;
}
.title img{
    width: 100%;
    height: 250px;
}
.image-container {
    display: flex;
    align-items: center;
    font-size: 40px;
    padding-left: 200px;
  }
  .image-container img {
    max-width: 100%;
    height: 500px;
  }
  
  .info {
    display: flex;
    align-items: center;
  }
  .info img {
    max-width: 100%;
    margin-right: 20px;
  }