.cart {
    position: absolute;
    background-color: rgb(230, 220, 220);
    border-radius: 5px;
    margin-top:10px;
    right: 2rem;
    width: 360px;
    height: 720px;
    box-shadow: -12px 0 8px hsl(0 4% 15% / 10%  );
}
.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: .6rem;
}
.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: .7rem;
}
.cart-img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    padding: 10px;
}
.detail-box {
    display: grid;
    row-gap: 0.5rem;
}
.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}
.cart-price {
    font-weight: 500;
}
.cart-quantity {
    border: 1p solid gray;
    border-radius: 3px;
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove {
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}
.cart-remove:hover {
    color: red;
}
.total {
    display: flex;
    justify-content: flex-end;
    margin-top: .7rem;
    border-top: 2px solid black;
}
.total-title {
    margin-top: 0.5rem;
    margin-right: 5px;
    font-size: 1rem;
    font-weight: 600;
}
.total-price {
    margin-top: 0.5rem;
    margin-right: 20px;
    margin-left: 0.5rem;
}
.btn-buy {
    border: 1px solid black;
    margin-top: 1rem;
    margin-left: 80px;
    display: inline-block;
    padding: .3rem 4rem;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    /*margin: 0.2rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background: var(--bg-color);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer; */
}
.btn-buy:hover {
    background-color: green;
    color: white;
    transition: 0.4s;
    border-radius: 10px 0 10px 0;
}
.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: ;
}

/*Navkar*/
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:#f7ddaa;
    color: #333;
}
.navbar {
    margin: 0;
    background-color: #81A263;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.nav-links a:hover {
    background-color: #093505;
    border-radius: 5px;
}

.signin-button {
    background-color: #365E32;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 5px;
}

.signin-button a {
    color: white;
    text-decoration: none;
}

.signin-button:hover {
    background-color: #093505;
}

.sign {
    display: flex;
    justify-content: space-between;
}

.profile-container, .cart-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
}

.profile-text, .cart-text {
    display: none;
    position: absolute;
    top: 50px; 
    color: white;
    font-size: 12px;
    background-color: #333;
    padding: 5px;
    border-radius: 3px;
}
