body{
    font-family: Arial, sans-serif;
    background-color: #f7ddaa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border: #082c05 solid;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

.headline {
    color: #093a05;
    background-color: #57723e; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.order-summary {
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 50px;
}

.shipping-info {
    margin: 20px;
    border: double #082c05;
    border-radius: 10px;
    padding: 20px;
}

.billing-info {
    margin: 20px;
    border: double #082c05;
    border-radius: 10px;
    padding: 20px;
}

.payment-info {
    margin: 20px;
}

.order-title {  
    color: #073104;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.billing-title
{
    color: #073104;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.shipping-title
{
    color: #073104;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.payment-title
{
    color: #073104;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

label 
{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input
{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}