body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 250, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: black;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #365E32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 12px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #093505;
}

p {
    text-align: center;
    color: black;
    margin: 12px 0;
}

p a {
    color: #365E32;
    text-decoration: none;
    transition: color 0.3s ease;
}

p a:hover {
    color: #093505;
    text-decoration: underline;
}


.container {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 450px;
    box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
    background-color: #81A263;
    width: 100%;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.nav-links a:hover {
    background-color: #0c0c0c;
    border-radius: 5px;
}

.signin-button {
    background-color: #365E32;
    height: 50px;
    width: 100px;
    margin-bottom: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 5px;
}

.signin-button a {
    color: white;
    text-decoration: none;
}

.sign {
    display: flex;
    justify-content: space-between;
}

.signin-button:hover {
    background-color: #093505;
}

.profile-container, .cart-container {
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
}
