body {
    font-family: Arial, sans-serif;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: black;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}