body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 250, 250);
}

.navbar {
    background-color: #81A263;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.nav-links a:hover {
    background-color: #0c0c0c;
    border-radius: 5px;
}

.signin-button {
    background-color: #365E32;
    height: 50px;
    width: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 5px;
}

.signin-button a {
    color: white;
    text-decoration: none;
}

.sign {
    display: flex;
    justify-content: space-between;
}

.signin-button:hover {
    background-color: #093505;
}

.profile-container, .cart-container {
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
}

.sidebar {
    width: 250px;
    background-color: #81A263;
    height: 100vh;
    padding-top: 100px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 70px; /* Adjusted to be below the navbar */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: left;
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.sidebar ul li a img {
    width: 20px;
    margin-right: 10px;
}

.sidebar ul li a:hover {
    background-color: #0c0c0c;
    color: white;
    border-radius: 10px;
    padding: 10px;
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.content {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
    margin-left: 250px; /* Adjust margin to account for the fixed sidebar */
    margin-top: 70px; /* Adjust margin to account for the fixed navbar */
}

h1 {
    color: #093505;
}

#userImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

/* #changeInfoForm, #changePasswordForm {
    margin-top: 20px;
}

#changeInfoForm input, #changePasswordForm input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
} */

#changeInfoForm, #changePasswordForm {
    margin-top: 20px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#changeInfoForm input, #changePasswordForm input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}


#saveInfoButton, #savePasswordButton {
    padding: 10px 20px;
    background-color: #365E32;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#saveInfoButton:hover, #savePasswordButton:hover {
    background-color: #093505;
}
